@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar-links {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
  }
  
.dropdown_link {
    @apply text-sm text-gray-700 hover:text-gray-500 font-medium md:text-base;
  }

.input-all {
    @apply bg-transparent border-none border-b border-orange-300 focus:outline-none focus:border-indigo-500
}