@tailwind base;
@tailwind components;
@tailwind utilities;



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 40;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar-links {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-start items-start;
  }
  
.dropdown_link {
    @apply text-sm text-gray-700 hover:text-gray-500 font-medium md:text-base;
  }

.input-all {
    @apply bg-transparent text-xl py-4 w-full border-solid border-2 border-cyan-700 rounded mt-3 px-6
}
.input-all-mobile {
    @apply bg-transparent text-sm py-2 w-full border-solid border-2 border-cyan-700 rounded mt-1 px-6
}

.input-div {
    @apply px-6
}
.send-button {
    @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
}

.download-cv {
    @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2
}